head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Inventoria
  link(rel='stylesheet' href="/css/root.css")
  link(rel="stylesheet" href="/css/header.css")
  link(rel="stylesheet" href="/css/sidenav.css")
  link(rel="stylesheet" href="/css/index.css") 
  script(src="/js/dialog.js" defer) 